@model IEnumerable<otel.Models.Musteriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Müşterilerimiz</h2>

<p>
    @Html.ActionLink("Yeni", "Ekle", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MüşteriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meslek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MüşteriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meslek)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.MüşteriNo }, new { @class = "btn btn-warning" })) |
            @Html.ActionLink("Sil", "Delete", new { id=item.MüşteriNo }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
